In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("https://drive.google.com/file/d/1kahdNUGs0MdCGYSjfsChWyDtPH_r8yhU/view?usp=share_link")

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris.csv

In [ ]:
df = pd.read_csv("iris.csv")

In [ ]:
print(df.head(5))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
df.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
df[['species', 'sepal_width']]

       species  sepal_width
0       setosa          3.5
1       setosa          3.0
2       setosa          3.2
3       setosa          3.1
4       setosa          3.6
..         ...          ...
145  virginica          3.0
146  virginica          2.5
147  virginica          3.0
148  virginica          3.4
149  virginica          3.0

[150 rows x 2 columns]

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
df.sort_values(['species','petal_length'], ascending=[1,1])

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [ ]:
df.sort_values(['petal_length'], ascending=True)

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [ ]:
df.iloc[5:10]

   sepal_length  sepal_width  petal_length  petal_width species
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [ ]:
df['Total'] = df['sepal_width'] + df['sepal_width'] + df['petal_length'] + df['petal_width']

In [ ]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species  Total
0             5.1          3.5           1.4          0.2     setosa    8.6
1             4.9          3.0           1.4          0.2     setosa    7.6
2             4.7          3.2           1.3          0.2     setosa    7.9
3             4.6          3.1           1.5          0.2     setosa    7.9
4             5.0          3.6           1.4          0.2     setosa    8.8
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica   13.5
146           6.3          2.5           5.0          1.9  virginica   11.9
147           6.5          3.0           5.2          2.0  virginica   13.2
148           6.2          3.4           5.4          2.3  virginica   14.5
149           5.9          3.0           5.1          1.8  virginica   12.9

[150 rows x 6 columns]>

In [ ]:
df[df['species'] == 'setosa']

In [ ]:
df[(df['petal_length'] > 1.4) & (df['petal_length'] < 1.6)]

    sepal_length  sepal_width  petal_length  petal_width species
3            4.6          3.1           1.5          0.2  setosa
7            5.0          3.4           1.5          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
19           5.1          3.8           1.5          0.3  setosa
21           5.1          3.7           1.5          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
34           4.9          3.1           1.5          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa

In [ ]:
df.drop(['Total'], axis = 1, inplace=False)
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species  Total
0             5.1          3.5           1.4          0.2     setosa    8.6
1             4.9          3.0           1.4          0.2     setosa    7.6
2             4.7          3.2           1.3          0.2     setosa    7.9
3             4.6          3.1           1.5          0.2     setosa    7.9
4             5.0          3.6           1.4          0.2     setosa    8.8
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica   13.5
146           6.3          2.5           5.0          1.9  virginica   11.9
147           6.5          3.0           5.2          2.0  virginica   13.2
148           6.2          3.4           5.4          2.3  virginica   14.5
149           5.9          3.0           5.1          1.8  virginica   12.9

[150 rows x 6 columns]>

In [ ]:
df.drop(['Total'], axis = 1, inplace=True)
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [ ]:
df.groupby(['species']).count()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [ ]:
df['petal_width'].count()

150

In [ ]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
2.1     6
2.0     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [ ]:
df.groupby(['petal_width']).count()

             sepal_length  sepal_width  petal_length  species
petal_width
0.1                     5            5             5        5
0.2                    29           29            29       29
0.3                     7            7             7        7
0.4                     7            7             7        7
0.5                     1            1             1        1
0.6                     1            1             1        1
1.0                     7            7             7        7
1.1                     3            3             3        3
1.2                     5            5             5        5
1.3                    13           13            13       13
1.4                     8            8             8        8
1.5                    12           12            12       12
1.6                     4            4             4        4
1.7                     2            2             2        2
1.8                    12           12            12       12
1.9                     5            5             5        5
2.0                     6            6             6        6
2.1                     6            6             6        6
2.2                     3            3             3        3
2.3                     8            8             8        8
2.4                     3            3             3        3
2.5                     3            3             3        3

In [ ]:
df.groupby(['species']).sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [ ]:
df.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [ ]:
df.groupby(['species']).max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [ ]:
df.groupby(['species']).median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

In [ ]:
df.groupby(['species']).corr()

                         sepal_length  sepal_width  petal_length  petal_width
species
setosa     sepal_length      1.000000     0.742547      0.267176     0.278098
           sepal_width       0.742547     1.000000      0.177700     0.232752
           petal_length      0.267176     0.177700      1.000000     0.331630
           petal_width       0.278098     0.232752      0.331630     1.000000
versicolor sepal_length      1.000000     0.525911      0.754049     0.546461
           sepal_width       0.525911     1.000000      0.560522     0.663999
           petal_length      0.754049     0.560522      1.000000     0.786668
           petal_width       0.546461     0.663999      0.786668     1.000000
virginica  sepal_length      1.000000     0.457228      0.864225     0.281108
           sepal_width       0.457228     1.000000      0.401045     0.537728
           petal_length      0.864225     0.401045      1.000000     0.322108
           petal_width       0.281108     0.537728      0.322108     1.000000

In [ ]:
df1 = pd.DataFrame({'Unique_ID':[1001,1002,1003,1004],
              'Income':[90000,67000,160000,40000]})
df1

   Unique_ID  Income
0       1001   90000
1       1002   67000
2       1003  160000
3       1004   40000

In [ ]:
df2 = pd.DataFrame({'Unique_ID':[1001,1002,1003,1004],
              'Name':['Clement','Sam','Tim','Eli']})
df2

   Unique_ID     Name
0       1001  Clement
1       1002      Sam
2       1003      Tim
3       1004      Eli

In [ ]:
df3 = pd.merge(df2,df1,how='left',on='Unique_ID')
df3

   Unique_ID     Name  Income
0       1001  Clement   90000
1       1002      Sam   67000
2       1003      Tim  160000
3       1004      Eli   40000

In [ ]:
df3.rename(columns={'Unique_ID':'Identification_Number','Name':'Employee'}, inplace = False)

   Identification_Number Employee  Income
0                   1001  Clement   90000
1                   1002      Sam   67000
2                   1003      Tim  160000
3                   1004      Eli   40000